@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css';

/* .movie img {
  max-width: auto;
  height: 300px;
}
 */
.grid-container img {
  width: 95%;
  height: 400px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.addMovies {
  padding: 1rem;
  margin: auto;
  width: 90%;
  border: white 1px solid;
}
